html {
  height: 100%;
  max-width: 100vw;
  overflow: hidden;
  background-color: black;
}
body {
  height: 100%;
  margin: 0 auto;
  font-family: "SF";
}
::-webkit-scrollbar {
  display: none;
}
ul,
h1,
li,
input {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
.mainContainer {
  width: 375px;
}
button {
  all: unset;
}
/* 피그마 디자인 참조하여 사용할 폰트 assets/fonts에서 Import */
@font-face {
  font-family: "SF";
  font-weight: 400;
  src: url("/assets/fonts/SFPRODISPLAYMEDIUM.OTF") format ("opentype");
}
@font-face {
  font-family: "SF";
  font-weight: 500;
  src: url("/assets/fonts/SFPRODISPLAYREGULAR.OTF") format ("opentype");
}
@font-face {
  font-family: "SF";
  font-weight: 700;
  src: url("/assets/fonts/SFPRODISPLAYBOLD.OTF") format ("opentype");
}
